@model List<StudentManagementSystem.PL.ViewModel.AcademicYear.AcademicYearVm>

@{
    ViewData["Title"] = "Academic Years";
}

<h2>Academic Years</h2>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New Academic Year</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var a in Model)
        {
            <tr>
                <td>@a.Name</td>
                <td>
                    <a asp-action="Details" asp-route-id="@a.Id" class="btn btn-info">Details</a>
                    <a asp-action="Edit" asp-route-id="@a.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@a.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
