@model StudentManagementSystem.PL.ViewModel.Course.CourseVm

<h2>Delete Course</h2>

<div class="alert alert-danger">
    Are you sure you want to delete <strong>@Model.Name</strong> ?
</div>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <button class="btn btn-danger">Delete</button>
    <a asp-action="GetAll" class="btn btn-secondary">Cancel</a>
</form>
